body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #282c34;
    color: white;
    margin: 0;
    padding: 20px;

}

.container {
    max-width: 400px;
    margin: auto;
    background-color: #3c3f47;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover{
    transform: scale(1.05) ;
    box-shadow: 0 0 100px rgba(97, 218, 251, 0.7);
}

img{
    width: 100%;
    border-radius: 10px;
}

button{
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red
    
}